<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ken Moussat - Auriane De Coligny - Paul Puech ">

    <title>KAP - Carrez</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link href="assets/css/form.css" rel="stylesheet">

</head>

<body>



    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Welcome to KAP carrez!</h1>
            <h3>We evaluate &amp; determine the best deal for you!</h3>
            <br>


            <div> <label><h3><label for="ad-lbc"><font color="#06717c">Result of your research : </font></label></span><label>
            <br/>

            <div id="results">

            <% if(locals.adress){ %>
            <div class="adress">
              <p>Adresse inspectée :</p><br>
              <span><%=  adress %></span>
              <p>m² (leboncoin) :</p><br>
              <span><%= surface %></span>
              <p>Prix de l'annonce :</p><br>
              <span><%= prix %></span>
              <p>Prix conseillé :</p><br>
              <span><%= prixSurfaceHabitable %></span>
            </div>

            <div class="result">
              <% if(locals.test){ %>
                <p>
                  C'est un bon deal !
                </p>
              <% } else{ %>
                <p>
                  Ce n'est pas un bon deal !
                </p>
              <% } %>
            </div>


            <% } else{%>
              <br><h2> <%= message %> </h2>
            <% } %>

            </div>

            <form action="./" method="POST">
            <input type="submit" id="submit" value="Homepage"/></h3>
            </form>

        </div>


    </header>





</body>

</html>
